$white: #fff;
$white-opacity: rgb(255, 255, 255, 0.4);
$white-opacity2: rgb(255, 255, 255, 0.12);
$light-opacity: rgb(231, 222, 222, 0.8);
$black: #000;
$dark-green: #33403f;
$green: #434f4e;
$disabled: #708280;
$light: #e7dede;


// $white: #000;
// $white-opacity: rgb(255, 255, 255, 0.4);
// $black: #fff;
// $dark-green: #edf0ef;
// $green: #969797;
// $disabled: #282929;
// $light: #141414;
