// $white: #fff;
// $white-opacity: rgb(255, 255, 255, 0.4);
// $white-opacity2: rgb(255, 255, 255, 0.12);
// $black-opacity: rgba(0, 0, 0, 0.5);
// $light-opacity: rgb(231, 222, 222, 0.8);
// $black: #000;
// $dark-green: #33403f;
// $green: #434f4e;
// $disabled: #708280;
// $light: #e7dede;

$white: #fff;
$white-opacity: rgb(255, 255, 255, 0.4);
$white-opacity2: rgb(255, 255, 255, 0.12);
$black-opacity: rgba(0, 0, 0, 0.5);
$light-opacity: #1a1919;
$black: #000;
$dark-green: #eaeae8;
$green: #f0f0f0;
$disabled: #1a191979;
$light: #1a1919;

// $white: #fff;
// $white-opacity: rgb(255, 255, 255, 0.4);
// $white-opacity2: rgb(255, 255, 255, 0.12);
// $black-opacity: rgba(0, 0, 0, 0.5);
// $light-opacity: rgb(231, 222, 222, 0.8);
// $black: #000;
// $dark-green: #2c2c2c;
// $green: #3f3f3f;
// $disabled: #6c6c6c;
// $light: #e7dede;
// $white: #000;
// $white-opacity: rgb(255, 255, 255, 0.4);
// $black: #fff;
// $dark-green: #edf0ef;
// $green: #969797;
// $disabled: #282929;
// $light: #141414;
